body {
    margin: 0;
    font-family: 'Lato', sans-serif;



}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2B4D3A;
    background-size: cover;
    background-position: center;
    z-index: -1;

}

header {
    background-color: #E7D9C4;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #366e3c;
}

header img {
    width: 50px;
    margin-right: 10px;
}

header div {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 70px;
}

nav a {
    text-decoration: none;
    color: #212922;
    font-weight: bold;
}

.menu {
    font-size: 120px;
    font-family: 'Times New Roman', Times, serif;
}

.section1 {
    text-align: center;
    color: #E7D9C4;
    padding: 100px;
    background-color: #212922;
}

.p1 {
    font-size: 20px;
    padding: 40px;
    text-align: center;
    text-justify: auto;
    font-family: roboto slab;
}

.contenedor-columnas3 {
    gap: 20px;
    padding: 40px;
    color: #F9F6F2;
    background-color: #E7D9C4;
    text-align: center;

}

.columna3 {
    padding: 20px;
    color: #2B4D3A;
    font-size: 20px;
    text-align: center;
}

.h3s {
    font-size: 90px;
    color: #212922;
    font-family: 'Times New Roman', Times, serif;

}

.h3a {
    font-size: 60px;
    color: #E7D9C4;
    font-family: 'Times New Roman', Times, serif;
}

P {
    font-family: ROBOTO SLAB;
    font-size: 25PX;
}

.ps {
    font-size: 20px;
    color: #E7D9C4;
    font-family: ROBOTO SLAB;
}


article {
    text-align: center;
}

table {
    width: 100%;
}

td {
    display: block;
    width: 100%;
}

.carousel {
    width: 520px;
    height: 520px;
    margin: 0 auto 20px auto;
    display: block;
}

.carousel-inner,
.carousel-item {
    height: 520px;
}

.carousel-item img {
    width: 520px;
    height: 520px;
    object-fit: cover;
}

.h3a {
    text-align: center;
    margin: 30px 0 20px 0;
}

.ps {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    padding: 0 20px;
}
footer {
    background-color: #212922;
    color:#E7D9C4;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    font-family: 'Playfair Display', serif;
}